{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block content %}

<div class="container mt-4">
  <h1 class="mb-4">Edit Comment</h1>
  <form method="post" action="edit-comment-verif?{{comment.id}}&{{comment.blog_post_id}}">
    <div class="form-group">
      <label for="content">Comment</label>
      <textarea class="form-control" id="content" name="content" rows="8" required>{{comment.content|raw}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Edit Comment</button>
  </form>
</div>

{% endblock %}