{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <header class="bg-dark text-light d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">
        <h1 class="display-4 text-center">Dejardin Benjamin</h1>
        <p class="lead text-center">Codez votre succès avec moi</p>
        <a href="../src/assets/CV_Dejardin.pdf" class="btn btn-primary">Voir mon CV</a>
    </header>
    <section class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="mb-4">Suivez-moi sur les réseaux sociaux</h2>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-lg-4">
                    <a href="https://twitter.com/BenDejardin8" target="_blank" class="btn btn-block btn-primary mb-3">
                    <i class="fab fa-twitter mr-2"></i> Twitter
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="https://github.com/BenDejardin" target="_blank" class="btn btn-block btn-dark mb-3">
                    <i class="fab fa-github mr-2"></i> GitHub
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="https://www.linkedin.com/in/benjamin-dejardin-5b951a1b3/" target="_blank" class="btn btn-block btn-primary mb-3">
                    <i class="fab fa-linkedin mr-2"></i> LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="mb-4">Contactez-moi</h2>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-8 mx-auto">
            <form action="contact" method="post">
            <div class="form-group mb-3">
                <label for="nom">Nom *</label>
                <input type="text" class="form-control" id="nom" name="nom" placeholder="Votre nom">
            </div>
            <div class="form-group mb-3">
                <label for="prenom">Prénom *</label>
                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Votre prénom">
            </div>
            <div class="form-group mb-3">
                <label for="email">Adresse email *</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Votre adresse email">
            </div>
            <div class="form-group mb-3">
                <label for="message">Message *</label>
                <textarea class="form-control" id="message" rows="5" name="message" placeholder="Votre message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
        </div>
    </div>
    </section>


{% endblock %}
